services:
  db:
    image: postgres:17
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 2s
      retries: 10
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5430:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  elasticsearch:
    image: elasticsearch:7.8.1
    ports:
      - "9200:9200"
    environment:
      discovery.type: 'single-node'
      xpack.security.enabled: 'true'
      ELASTIC_PASSWORD: '12345'
      ES_JAVA_OPTS: '-Xmx2g -Xms2g'

  kibana:
    image: kibana:7.8.1
    volumes:
      - ./elastic/kibana.yml:/usr/share/kibana/config/kibana.yml
    ports:
      - "5601:5601"
  logstash:
    image: docker.elastic.co/logstash/logstash:7.8.1
    ports:
      - "5044:5044"
    volumes:
      - ./elastic/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
      - ./elastic/postgresql-42.7.9.jar:/usr/share/logstash/postgresql.jar
    environment:
      xpack.monitoring.enabled: "false"
    depends_on:
      - db
      - elasticsearch


volumes:
  postgres_data: